html{
    height: 100%;
}

body{
    background-color: #d6d6d6;
    margin: 20px;
}

header, section{
    margin: 10px;
}

header{
    background-color: white;
    border: purple 2px solid;
    padding: 10px;
    border-radius: 10px;
}

h2{
    margin-bottom: 20px;
}

section{
    text-align: center;
}

#time-display{
    text-align: right;
}

#quiz-card{
    background-color: white;
    width: auto;
    padding: 20px;
    border: purple 2px solid;
    border-radius: 20px;
}

#quiz-card h2{
    border-bottom: black 2px solid;
    padding: 10px;
    margin: 0 auto 10px auto;

}

#instructions{
    margin: 10px;
}

#start-quiz-btn, .btn{
    background-color: purple;
    color: white;
    margin: 10px;
}

#ans-validate-div{
    color: darkgrey;
    margin: 20px auto;
    padding: 20px;
    border-top: darkgrey 2px solid;
    text-align: center;
}

.highscore-text{
    background-color: purple;
    color: white;
    border-radius: 10px;
}